.saida div {
  display: inline-block;
}

label {
  display: block;
  margin-bottom: 10px;
}

main {
  width: 25vw;
  height: 30vh;
  margin: auto;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input {
  padding: 1rem;
  font-size: 1.2rem;
}

span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}